body {
	background-color: white;
}

#contenedor {
	width: 96%;
	margin: auto;
	background-color: white;
	margin-top: 80px;
}
/* Cabecera*/
#cabecera {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 80px;
	background-color: #8FD8A0;
	position: fixed;
	z-index: 10;
}

ul#menu {
	float: left;
	margin: 10px;
	padding: 20px;
	list-style-type: none;
}

ul#menu li {
	display: inline;
	padding: 10px;
}

ul#menu li a {
    background-color: #4682B4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

ul#menu li a:hover {
    background-color: #FF0808;
}

#buscador {
	float: left;
	margin: 10px;
	padding: 15px;
}

#buscador input {
	display: inline-block;
	padding: 4px 6px;
	border: 1px solid #d3d3d3;
	border-radius: 4px 0 0 4px;
	outline: none;
	font-size: 16px;
	width: 300px;
}
#buscador input:hover {
	box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

#buscador button {
	float: right;
	border: 1px solid #d3d3d3;
	border-radius: 0 4px 4px 0;
	background: #f8f8f8;
	color: #333;
	display: inline-block;
	height: 28px;
	padding: 0 10px;
	outline: 0;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	word-wrap: normal;
	line-height: normal;
	vertical-align: middle;
}

#buscador button:hover {
	border-color: #c6c6c6;
	background: #f0f0f0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

span#busca {
	display: block;
	border: none;
	padding: 0;
	opacity: .6;
	text-indent: -10000px;
	background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflAhaHWR.webp) -293px -28px;
	background-size: auto;
	width: 14px;
	height: 14px;
	box-shadow: none;
}

span#busca:hover {
	opacity: 1;
}

#login {
	float: right;
	margin: 10px;
	padding: 20px;
}

#login a {
    background-color: #FF0808;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

#login a:hover {
    background-color: #4682B4;
}

/* espacio en blanco */
#espacio {
	height: 20px;
}

/* Contenidos*/
#main {
	width: 100%;
	margin: 2%;
	background-color: #FFFFFF;
	border-radius: 20px;
	height: auto;
}

#seleccionar {
	margin: 20px;
	padding: 2px;
}

#ordenarPor {
	width: 140px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 2px solid black;
	border-radius: 4px;
	height: 34px;
}

#contenido {
	border-radius: 4px;
	width: 70%;	
	float: left;
	height: auto;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 97px 31px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 97px 31px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 97px 31px rgba(0,0,0,0.75);
	padding-top: 20px;
}

#elemento {
	width: 100%;
	border: 2px;
	float: left;
	height: 200px;
	padding-bottom: 20px;
}

#x {
	vertical-align:middle;	
}

#imagen {	
	margin-left: 10px;
	width: 30%;
	height: 180px;	
	float: left;	
	-webkit-box-shadow: -1px 0px 64px 6px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 64px 6px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 64px 6px rgba(0,0,0,0.75);
	border-radius: 4px;
}

#informacion {
	float: right;
	width: 60%;
	height: 100%;
	padding-right: 10px;
}

#superior {
	padding: 2px;
	height: 20%;
}

#superior a {
	text-decoration: none;
	color: blue;
}

#titulo {
	font-weight: bold;
	float: left;
	font-size: 20px;
}

#descripcion {
	max-height: 75px;
	overflow: hidden;	
	height: 45%;
	text-align: justify;
	padding-right: 20px;
}

#calificacion {
	width: 25%;
	height: 60%;
	float: right;
	margin-right: 10px;
}

#estrella {
	width: 18%;
	float: left;
	height: 100%;
}

#logo_estrella {
	width: 100%;
	height: 100%;
}

#inferior {
	padding-top: 10px;
	height: 30%;	
}

#info_elemento {
	float: left;
	vertical-align: bottom;
	width: 35%;
}

#tags {
	float: right;
	width: 60%;
	max-height: 43px;
	overflow: hidden;
}

#borrar {
	width: 40%;
	background-color: #FF4000;
	margin-right: 20px;
	float: right;
	border-radius: 4px;
	outline: none;
}

#barralateral {
	width: 23%;
	height: 80%;
	border: 2px solid black;
	position: fixed;
	right: 10px;
	top: 100px;
	background-color: white;
	border-radius: 4px;
}

#infoperfil {
	width: 100%;
	height: 30%;
}

#tituloseccion1 {
	background-color: #8FD8A0;
	width: 100%;
	height: 25px;
	border-bottom: 2px solid black;
}
#tituloseccion {
	background-color: #8FD8A0;
	width: 100%;
	height: 25px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	
}
#textotituloseccion {
	padding-top: 4px;
	font-weight: bold;
	margin-left: 5px;
	text-indent: middle;
}

#fotoperfil {
	width: 30%;
	height: 65%;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	border: 1px solid black;
	border-radius: 2px;
}

#logoperfil {
	width: 100%;
	height: 100%;
}

#salir {
	width: 8%;
	height: 15%;
	margin-top: 5px;
	float: right;
	position: relative;
	top: 5px;
	right: 5px;
}

#logosalir {
	width: 100%;
	height: 100%;
}
 
#nombreyestado {
	margin-top: 5px;
	margin-left: 7px;
	width: 53%;
	height: 70%;
	float: left;
}

#nombreuser {
	margin-bottom: 5px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	float: left;
	font-weight: bold;	
}

#estadouser {
	float: left;
	max-width: 100%;
	max-height: 70%;
	overflow: hidden;
}

#notificaciones {
	width: 100%;
	height: 25%;
}

#conjunto_notificaciones {
	width: 98%;
	margin-top: 5px;
	margin-left: 5px;
	max-height: 48%;
	overflow: hidden;
}

#notificacion {
	padding-bottom: 3px;
	margin-left: 5px;
	width: 98%;
}

#enlaceanotificaciones {
	margin-left: 5px;
	width: 98%;
	height: 15%;
	position: relative;
	bottom: -5px;
	left: 5px;
}

#ultimoselementos {
	width: 100%;
	height: 39%;
	overflow-y: scroll;
}

#elemento_act {
	width: 96%;
	margin: 8px 6px 6px 7px;
	height: 40%;
}

#foto_act {
	float: left;
	width: 45%;
	height: 100%;
}

#imagen_act {
	width: 100%;
	height: 100%;
	-webkit-box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.75);
	box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.75);
	border-radius: 4px;
}

#info_act {
	float: right;
	width: 50%;
	height: 100%;
}

#nombre_act {
	padding-top: 7px;	
	font-weight: bold;	
	font-size: 12px;
	max-width: 100%;
	overflow: hidden;
	height: 27%;
}

#usuario_act {
	padding-top: 2px;
	font-size: 12px;
	max-width: 100%;
	overflow: hidden;
	height: 30%;
}

#pie {   
	clear: both;
	padding: 5px;
	text-align: center;
}