body {
	background-color: #9ACCCD;
}

#contenedor {
	width: 90%;
	margin: auto;
	margin-top: 12px;
	background-color: #AAAAAA;
}

#cabecera {
	padding: 10px;
	height: 10%;
	background-color: #8FD8A0;
	text-align: center;
}

#contenido {
	margin: auto;
	padding: 10px;
	background-color: #DACC8F;
}

#registro {
	width: 50%;
	margin: auto;
	padding: 10px;
	background-color: grey;
}

p#texto {
	float: left;
	width: 32%;
	padding: 10px;
	text-align: right;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 2px;
	margin-left: 2px;
}

p#texto input {
	width: 29px;
	height: 29px;
}

p#caja {
	float: left;
	width: 52%;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 2px;
	margin-left: 2px;
}

p#cond {
	float: left;
	width: 52%;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 2px;
	margin-left: 2px;
	padding: 19px 10px 19px 10px;
}

p#caja input {
	width: 100%;
	height: 14px;
	padding: 10px;
	border-radius: 6px;
}

p#caja input#adjunto {
	padding-top: 10px;
	padding-bottom: 14px;
}

p#terminos {
	float: left;
	text-align: justify;
	padding: 10px;
}

p#reg {
	clear: both;
	text-align: center;
	padding: 10px;
}

p#reg button {
	width: 50%;
	height: 50px;
	font-size: 100%;
	border-radius: 6px;
}

#pie {
	clear: both;
	padding: 5px;
	text-align: center;
	background-color: brown;
}